{% extends 'base.html' %}

{% block title %}Контактная информация{% endblock %}

{% block content %}
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <h1>Контактная информация</h1>
    
    <h2>Наши контакты</h2>
    <p>
        <strong>Email:</strong> support@example.com <br>
        <strong>Телефон:</strong> +7 (999) 136-84-41 <br>
        <strong>Адрес:</strong> ул. Новосущёвская, 22с2, Москва, Россия
    </p>

    <h2>Следите за нами в социальных сетях</h2>
    <div class="social-media-container">
        <a href="https://facebook.com/yourpage" target="_blank" class="social-media-link">
            <i class="fab fa-facebook-f"></i>
            <span>Facebook</span>
        </a>
        <a href="https://twitter.com/yourpage" target="_blank" class="social-media-link">
            <i class="fab fa-twitter"></i>
            <span>Twitter</span>
        </a>
        <a href="https://instagram.com/yourpage" target="_blank" class="social-media-link">
            <i class="fab fa-instagram"></i>
            <span>Instagram</span>
        </a>
    </div>

    <h2>Форма обратной связи</h2>
    <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Ваше имя:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Ваш Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="message">Сообщение:</label>
            <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}
